<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>投資信託注文完了画面</title>
    <link rel="stylesheet" th:href="@{/css/investmentTrustMain.css}">
</head>
<body>
<div class="content">
    <h1>投資信託注文完了</h1>

    <p style="text-align: center; color: green; font-weight: bold; font-size: 1.2em;">
        ご注文ありがとうございました。<br>
        以下の内容で注文が完了しました。
    </p>

    <div class="confirmation-section" style="text-align: center;">
        <p><label>金融機関名:</label><br>
            <span th:text="${investmentTrustApplication.bankName}"></span></p>

        <p><label>支店名:</label><br>
            <span th:text="${investmentTrustApplication.branchName}"></span></p>

        <p><label>科目名:</label><br>
            <span th:text="${investmentTrustApplication.bankAccountType}"></span></p>

        <p><label>口座番号:</label><br>
            <span th:text="${investmentTrustApplication.bankAccountNum}"></span></p>

        <p><label>購入者名:</label><br>
            <span th:text="${investmentTrustApplication.name}"></span></p>

        <p><label>銘柄選択:</label><br>
            <span th:text="${investmentTrustApplication.fundName}"></span></p>

        <p><label>購入金額:</label><br>
            <span><span th:text="${#numbers.formatInteger(investmentTrustApplication.money, 1, 'COMMA')}"></span>円</span></p>
    </div>

    <p style="text-align: center;">
        <input type="button" value="新規注文" class="form-control-button form-confirmation-button" onclick="window.location='/investmentTrust';"/>
    </p>
</div>
</body>
</html>