server:
  port: 8083
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/internship
    username: root
    password: root_password
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

openrouter:
  api:
    key: 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